/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /**
     * colors
     */
  
    --white: hsla(0, 0%, 100%, 1);
    --white_a8: hsla(0, 0%, 100%, 0.08);
    --white_a12: hsla(0, 0%, 100%, 0.12);
    --cultured: hsla(220, 20%, 97%, 1);
    --snow: hsla(345, 57%, 97%, 1);
    --manatee: hsla(219, 10%, 62%, 1);
    --black-coral: hsla(220, 12%, 43%, 1);
    --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
    --cinnamon-satin: hsla(344, 53%, 62%, 1);
    --raisin-black: hsla(216, 14%, 14%, 1);
    --raisin-black_a6: hsla(216, 14%, 14%, 0.06);
    --gunmetal: hsla(214, 15%, 21%, 1);
    --charcoal: hsla(219, 22%, 26%, 1);
  
    /**
     * typography
     */
  
    --ff-manrope: "Manrope", sans-serif;
  
    --fs-1: calc(2.7rem + 1.38vw);
    --fs-2: calc(2.6rem + 0.66vw);
    --fs-3: calc(2.6rem + 0.24vw);
    --fs-4: 1.9rem;
    --fs-5: 1.8rem;
    --fs-6: 1.7rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
  
    --fw-700: 700;
  
    /**
     * spacing
     */
  
    --section-padding: 90px;
  
    /**
     * box shadow
     */
  
    --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
    --shadow-2: 0 4px 28px hsla(216, 14%, 14%, 0.07);
  
    /**
     * border radius
     */
  
    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-8: 8px;
    --radius-6: 6px;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease-in-out;
  }
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  /* 
     Reset CSS: Ye tamaam elements ki default margin, padding, aur box-sizing ko reset karta hai.
     List-style ko none kar deta hai, taake lists ke bullets na dikhein.
  */
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  
  a,
  img,
  span,
  button,
  ion-icon {
    display: block;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    height: auto;
  }
  
  input,
  button,
  textarea {
    background: none;
    border: none;
    font: inherit;
  }
  
  input,
  textarea {
    width: 100%;
  }
  
  button {
    cursor: pointer;
  }
  
  ion-icon {
    pointer-events: none;
  }
  
  /* 
     HTML aur BODY ki styling: Font family, font size, line height, scrollbar ki style ko define karta hai.
  */
  
  html {
    font-family: var(--ff-manrope);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--white);
    color: var(--black-coral);
    font-size: 1.6rem;
    line-height: 1.7;
  }
  
  body.nav-active {
    overflow: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 80%);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
  }
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
  /* 
     Aksar istemal hone wale styles jo multiple jagah istemal hote hain.
     Jaise ki container, social-list, headings, buttons, etc.
  */
  
  .container {
    padding-inline: 16px;
  }
  
  .social-list {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .social-link {
    font-size: 2rem;
    transition: var(--transition-1);
  }
  
  .social-link:is(:hover, :focus-visible) {
    transform: translateY(-3px);
  }
  
  .section {
    padding-block: var(--section-padding);
  }
  
  .w-100 {
    width: 100%;
  }
  
  /* Headings ki styling */
  
  .h1,
  .h2,
  .h3,
  .h4 {
    color: var(--charcoal);
    line-height: 1.3;
  }
  
  .h1 {
    font-size: var(--fs-1);
  }
  
  .h2 {
    font-size: var(--fs-2);
  }
  
  .h3 {
    font-size: var(--fs-3);
  }
  
  .h4 {
    font-size: var(--fs-4);
  }
  
  /* Button ki styling */
  
  .btn {
    color: var(--cinnamon-satin);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    border: 2px solid var(--cinnamon-satin);
    max-width: max-content;
    padding: 12px 28px;
    border-radius: var(--radius-pill);
    transition: var(--transition-1);
    will-change: transform;
  }
  
  .btn:is(:hover, :focus-visible) {
    transform: translateY(-4px);
  }
  
  /* Primary aur secondary buttons ki styling */
  
  .btn-primary,
  .btn-secondary:is(:hover, :focus-visible) {
    background-color: purple;
    color: var(--white);
  }
  
  .section-text {
    font-size: var(--fs-5);
  }
  
  .section-title {
    margin-block-end: 16px;
  }
  
  /* Grid ki styling */
  
  .grid-list {
    display: grid;
    gap: 30px;
  }
  
  /* Scroll reveal effect ki styling */
  
  [data-reveal] {
    opacity: 0;
    transition: 0.75s ease;
  }
  
  [data-reveal="top"] {
    transform: translateY(-30px);
  }
  
  [data-reveal="bottom"] {
    transform: translateY(30px);
  }
  
  [data-reveal="left"] {
    transform: translateX(-30px);
  }
  
  [data-reveal="right"] {
    transform: translateX(30px);
  }
  
  [data-reveal].revealed {
    transform: translate(0);
    opacity: 1;
  }
  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  /* 
     Header ki styling
     Header position absolute hai, jiska background white hai.
     Header width puri screen ki hai aur padding 20px hai.
     Box shadow diya gaya hai aur z-index bhi set kiya gaya hai.
  */
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100%;
    padding-block: 20px;
    box-shadow: var(--shadow-1);
    z-index: 4;
  }
  
  /* 
     Header active hone par fixed position par aa jata hai slideIn animation ke sath.
     SlideIn animation top se bottom ki taraf header ko laata hai.
  */
  
  .header.active {
    position: fixed;
    animation: slideIn 0.5s ease forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* 
     Header container ko flex layout se display karta hai aur space-between justify karta hai.
     Navbar open button ki styling di gayi hai.
  */
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-open-btn {
    font-size: 3.5rem;
    color: var(--gunmetal);
  }
  
  /* 
     Navbar styling: Navbar initially left se bahar hota hai aur black background par white text hota hai.
     Navbar ko right se slide karke dikhaata hai animation ke sath.
  */
  
  .navbar {
    position: fixed;
    top: 0;
    left: -300px;
    background-color: var(--raisin-black);
    color: var(--white);
    max-width: 300px;
    width: 100%;
    height: 100vh;
    padding: 30px;
    padding-block-end: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
    visibility: hidden;
    transition: var(--transition-3);
  }
  
  .navbar.active {
    visibility: visible;
    transform: translateX(300px);
  }
  
  /* 
     Navbar top section ki styling: Close button aur navigation links hote hain.
     Close button hover hone par background color change hota hai.
  */
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-close-btn {
    background-color: var(--white_a8);
    color: var(--white);
    font-size: 2rem;
    padding: 6px;
    border-radius: var(--radius-circle);
    transition: var(--transition-1);
  }
  
  .nav-close-btn ion-icon {
    --ionicon-stroke-width: 50px;
  }
  
  .nav-close-btn:is(:hover, :focus-visible) {
    background-color: var(--white_a12);
  }
  
  /* 
     Navbar list ki margin set ki gayi hai.
     Navbar links ki styling aur hover effect hai.
  */
  
  .navbar-list {
    margin-block-end: auto;
  }
  
  .navbar-link {
    font-weight: var(--fw-700);
    padding-block: 6px;
  }
  
  .contact-link {
    transition: var(--transition-1);
  }
  
  .contact-link:is(:hover, :focus-visible) {
    color: var(--cinnamon-satin);
  }
  
  /* 
     Overlay styling: Overlay position fixed hoti hai aur background color black hota hai.
     Overlay active hone par pointer events active hote hain aur opacity 0.8 hoti hai.
  */
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--raisin-black);
    pointer-events: none;
    opacity: 0;
    transition: var(--transition-1);
  }
  
  .overlay.active {
    pointer-events: all;
    opacity: 0.8;
  }
  
  /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  
  /* 
     Hero section ki styling: Background aur padding set ki gayi hai.
  */
  
  .hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    background-color: var(--cultured);
  }
  
  /* 
     Hero container ko grid layout se display kiya gaya hai.
     Hero banner ki position relative hai.
  */
  
  .hero .container {
    display: grid;
    gap: 50px;
  }
  
  .hero-banner {
    position: relative;
    max-width: max-content;
    margin-inline: auto;
  }
  
  /* 
     Hero banner image ki styling: Mask image set ki gayi hai aur mask position center hai.
     Shape position absolute hai aur drop shadow hai.
  */
  
  .hero-banner .w-100 {
    mask-image: url("../images/Blob.svg");
    -webkit-mask-image: url("../images/Blog.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: auto;
    -webkit-mask-size: auto;
  }
  
  .hero .shape {
    position: absolute;
    bottom: 10%;
    right: 2%;
    filter: drop-shadow(var(--shadow-2));
  }
  
  /* Hero content ki styling: Text center aligned hai. */
  
  .hero-content {
    text-align: center;
  }
  
  /* Section text ki margin set ki gayi hai. */
  
  .hero .section-text {
    margin-block: 24px 36px;
  }
  
  /* Button wrapper ko flex layout se display kiya gaya hai. */
  
  .btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  
  /*-----------------------------------*\
    #ABOUT
  \*-----------------------------------*/
  
  /* 
     About section ki styling: Grid layout mein display kiya gaya hai aur gap set kiya gaya hai.
     Wrapper ko bottom margin diya gaya hai.
  */
  
  .about .wrapper {
    display: grid;
    gap: 50px;
    margin-block-end: 70px;
  }
  
  /* 
     Progress list ki styling: Flex layout se display kiya gaya hai aur space-between justify kiya gaya hai.
     Progress item ke beech mein margin diya gaya hai.
  */
  
  .progress-list .label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 4px;
  }
  
  .progress-item:not(:last-child) {
    margin-block-end: 16px;
  }
  
  /* 
     Progress bar ki styling: Background color aur height set ki gayi hai.
     Progress fill height inherit hai.
  */
  
  .progress {
    background-color: var(--raisin-black_a6);
    height: 6px;
    width: 100%;
    border-radius: var(--radius-pill);
    overflow: hidden;
  }
  
  .progress-fill {
    height: inherit;
  }
  
  /* About card ki styling: Text center aligned hai. */
  
  .about-card {
    text-align: center;
  }
  
  /* About card icon aur title ki styling. */
  
  .about-card .card-icon {
    max-width: max-content;
    margin-inline: auto;
  }
  
  .about-card .card-title {
    margin-block: 16px 10px;
  }
  
  /*-----------------------------------*\
    #PROJECTS
  \*-----------------------------------*/
  
  /* 
     Project ki styling: Border aur margin diya gaya hai.
  */
  
  .project {
    border-block: 1px solid var(--cadet-blue-crayola_a20);
  }
  
  /* Project title wrapper ki margin set ki gayi hai. */
  
  .project .title-wrapper {
    margin-block-end: 40px;
  }
  
  /* Project button ki margin set ki gayi hai. */
  
  .project .btn {
    margin-block-start: 24px;
  }
  
  /* Project grid list ki gap set ki gayi hai. */
  
  .project .grid-list {
    gap: 40px;
  }
  
  /* 
     Project card ki styling: Padding, border-radius, aur overflow diya gaya hai.
     Card ke alag alag versions ke liye alag padding set ki gayi hai.
  */
  
  .project-card {
    --padding: 24px;
  
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    border-radius: var(--radius-8);
    overflow: hidden;
  }
  
  .project-card-1,
  .project-card-2,
  :is(.project-card-3, .project-card-4) .card-content {
    padding: var(--padding);
  }
  
  .project-card-1 {
    padding-block-end: 0;
  }
  
  .project :is(.project-card-3, .project-card-4) {
    gap: 0;
  }
  
  /* 
     Project card tag, title, aur text ki styling.
  */
  
  .project-card .card-tag {
    font-size: var(--fs-8);
    font-weight: var(--fw-700);
    text-transform: uppercase;
  }
  
  .project-card .card-title {
    margin-block: 16px;
  }
  
  .project-card .card-text {
    margin-block-end: 20px;
  }
  
  /* 
     Project card button text ki styling.
     Hover effect ke liye gap change hota hai.
  */
  
  .project-card .btn-text {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: var(--fw-700);
    transition: var(--transition-1);
  }
  
  .project-card .btn-text:is(:hover, :focus-visible) {
    gap: 10px;
  }
  
  /*-----------------------------------*\
    #CONTACT
  \*-----------------------------------*/
  
  /* Contact section ki styling: Padding ko bottom se remove kiya gaya hai. */
  
  .contact {
    padding-block-end: 0;
  }
  
  /* Contact card ki styling: Background color, padding, border-radius, grid layout aur gap set ki gayi hai. */
  
  .contact-card {
    background-color: lightblue;
    padding: 32px;
    border-radius: var(--radius-8);
    display: grid;
    gap: 40px;
  }
  
  .contact .section-title {
    margin-block-start: 20px;
  }
  
  /* Input field ki styling: Background color, font size, padding, border-radius, aur placeholder color di gayi hai. */
  
  .input-field {
    background-color: var(--white);
    color: var(--black-coral);
    font-size: var(--fs-7);
    padding: 14px 18px;
    border-radius: var(--radius-6);
    outline: none;
    margin-block-end: 20px;
  }
  
  .input-field::placeholder {
    color: var(--manatee);
  }
  
  /* Textarea input field ki styling: Min height, height, max height, aur vertical resizing set ki gayi hai. */
  
  textarea.input-field {
    min-height: 120px;
    height: 120px;
    max-height: 240px;
    resize: vertical;
  }
  
  /*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
  
  /* Footer ki styling: Padding ko bottom se set kiya gaya hai. */
  
  .footer {
    padding-block: 40px;
  }
  
  /* Copyright text ki margin set ki gayi hai. */
  
  .copyright {
    margin-block-end: 12px;
  }
  
  /* Footer social links ki color set ki gayi hai. */
  
  .footer .social-link {
    color: var(--charcoal);
  }
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 575px screen
   */
  
  @media (min-width: 575px) {
    /**
     * REUSED STYLE
     */
  
    /* Container ki max-width aur margin set ki gayi hai. */
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    /**
     * PROJECT
     */
  
    /* Project card ke padding ko adjust kiya gaya hai. */
    .project-card {
      --padding: 68px;
    }
  
    /**
     * CONTACT
     */
  
    /* Contact card ke padding ko adjust kiya gaya hai. */
    .contact-card {
      padding: 68px;
    }
  }
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
    /**
     * REUSED STYLE
     */
  
    /* Container ki max-width set ki gayi hai. */
    .container {
      max-width: 720px;
    }
  
    /* Section text ki font size ko adjust kiya gaya hai. */
    .section-text {
      --fs-5: 2rem;
    }
  
    /**
     * ABOUT
     */
  
    /* About section ki grid-list ke columns ko adjust kiya gaya hai. */
    .about .grid-list {
      grid-template-columns: 1fr 1fr;
    }
  
    /**
     * PROJECT
     */
  
    /* Project title wrapper ki flex layout ki styling ki gayi hai. */
    .project .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }
  
    /* Project button ki min-width ko adjust kiya gaya hai. */
    .project .btn {
      min-width: max-content;
    }
  
    /**
     * CONTACT
     */
  
    /* Contact section ki section text ki font size ko adjust kiya gaya hai. */
    .contact .section-text {
      --fs-5: 1.8rem;
    }
  
    /* Input wrapper ki flex layout ki styling ki gayi hai. */
    .input-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  
    /**
     * FOOTER
     */
  
    /* Footer container ki display layout aur margin ko set kiya gaya hai. */
    .footer .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    /* Copyright text ki margin ko set kiya gaya hai. */
    .copyright {
      margin-block-end: 0;
    }
  }
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
    /**
     * CUSTOM PROPERTY
     */
  
    /* Custom property ke section-padding ko update kiya gaya hai. */
    :root {
      --section-padding: 120px;
    }
  
    /**
     * REUSED STYLE
     */
  
    /* Container ki max-width ko set kiya gaya hai. */
    .container {
      max-width: 960px;
    }
  
    /**
     * HEADER
     */
  
    /* Navbar aur related elements ko hide/unhide kiya gaya hai. */
    .nav-open-btn,
    .navbar-top,
    .navbar .wrapper,
    .overlay {
      display: none;
    }
  
    /* Navbar ki display layout aur flex-grow ko set kiya gaya hai. */
    .navbar,
    .navbar.active {
      all: unset;
      display: flex;
      flex-grow: 1;
    }
  
    /* Navbar list ki display layout aur gap ko set kiya gaya hai. */
    .navbar-list {
      display: flex;
      gap: 36px;
      margin-inline: auto;
    }
  
    /* Navbar link ki color ko set kiya gaya hai. */
    .navbar-link {
      color: var(--charcoal);
      transition: var(--transition-1);
    }
  
    /* Navbar link ki hover/focus color ko set kiya gaya hai. */
    .navbar-link:is(:hover, :focus-visible) {
      color: var(--cinnamon-satin);
    }
  
    /* Navbar social link ki font size ko set kiya gaya hai. */
    .navbar .social-link {
      color: var(--charcoal);
      font-size: 1.8rem;
    }
  
    /* Header ki top, max-width, aur border-radius ko set kiya gaya hai. */
    .header {
      top: 45px;
      max-width: 960px;
      left: 50%;
      transform: translateX(-50%);
      padding-inline: 16px;
      border-radius: var(--radius-8);
    }
  
    /* Active header ki top, left, max-width, aur border-radius ko set kiya gaya hai. */
    .header.active {
      top: 0;
      left: 0;
      max-width: unset;
      border-radius: 0;
    }
  
    /**
     * HERO
     */
  
    /* Hero section ki padding ko adjust kiya gaya hai. */
    .hero {
      padding-block-start: calc(var(--section-padding) + 80px);
    }
  
    /* Hero container ki grid-template-columns, align-items, aur gap ko set kiya gaya hai. */
    .hero .container {
      grid-template-columns: 1fr 0.8fr;
      align-items: center;
      gap: 100px;
    }
  
    /* Hero content text ko left align kiya gaya hai. */
    .hero-content {
      text-align: left;
    }
  
    /* Hero button wrapper ki justify-content ko set kiya gaya hai. */
    .hero .btn-wrapper {
      justify-content: flex-start;
    }
  
    /**
     * ABOUT
     */
  
    /* About section ki wrapper ki grid layout aur align-items ko set kiya gaya hai. */
    .about .wrapper {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  
    /* About section ki grid-list ke gap ko set kiya gaya hai. */
    .about .grid-list {
      gap: 50px;
    }
  
    /**
     * PROJECT
     */
  
    /* Project section ki grid-list ke columns aur row-gap ko set kiya gaya hai. */
    .project .grid-list {
      grid-template-columns: 1fr 1fr;
      row-gap: 50px;
    }
  
    /* Project grid-list ke pehle do items ki grid-column ko set kiya gaya hai. */
    .project .grid-list > li:nth-child(-n + 2) {
      grid-column: 1 / 3;
    }
  
    /* Project card 1 aur 2 ki flex-direction aur align-items ko adjust kiya gaya hai. */
    .project-card-1,
    .project-card-2 {
      flex-direction: row;
      align-items: flex-end;
    }
  
    /* Project card content ki width ko set kiya gaya hai. */
    :is(.project-card-1, .project-card-2) .card-content {
      width: 33.33%;
    }
  
    /* Project card banner ki width ko set kiya gya hai. */
    :is(.project-card-1, .project-card-2) .card-banner {
      width: 66.66%;
    }
  
    /* Project card 1 ki card-content ki padding ko adjust kiya gaya hai. */
    .project-card-1 .card-content {
      padding-block-end: var(--padding);
    }
  
    /* Project card 2 ki card-content ki order ko set kiya gaya hai. */
    .project-card-2 .card-content {
      order: 1;
    }
  
    /**
     * CONTACT
     */
  
    /* Contact card ki grid-template-columns, align-items, aur gap ko set kiya gaya hai. */
    .contact-card {
      grid-template-columns: 0.8fr 1fr;
      align-items: center;
      gap: 90px;
    }
  }
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
    /**
     * REUSED STYLE
     */
  
    /* Container aur header ki max-width ko set kiya gaya hai. */
    .container,
    .header {
      max-width: 1140px;
    }
  
    /**
     * ABOUT
     */
  
    /* About section ki grid-list ke gap ko set kiya gaya hai. */
    .about .grid-list {
      gap: 50px;
    }
  
    /**
     * CONTACT
     */
  
    /* Contact card ki gap ko set kiya gaya hai. */
    .contact-card {
      gap: 150px;
    }
  }
  
  /**
   * responsive for large than 1400px screen
   */
  
  @media (min-width: 1400px) {
    /**
     * REUSED STYLE
     */
  
    /* Container aur header ki max-width ko set kiya gaya hai. */
    .container,
    .header {
      max-width: 1320px;
    }
  
    /**
     * HERO
     */
  
    /* Hero section ki container ki grid-template-columns aur section-text ki font size ko adjust kiya gaya hai. */
    .hero .container {
      grid-template-columns: 1fr 0.8fr;
    }
    .hero .section-text {
      --fs-5: 2.4rem;
    }
  
    /**
     * ABOUT
     */
  
    /* About section ki wrapper ki gap ko set kiya gaya hai. */
    .about .wrapper {
      gap: 100px;
    }
  
    /* About section ki grid-list ke gap ko set kiya gaya hai. */
    .about .grid-list {
      gap: 60px;
    }
  }
  